###> --------------------------------------------> tp1 <-------------------------------------------------------

python/rabbitmq_data/

###> --------------------------------------------> tp2 <-------------------------------------------------------

###> symfony/framework-bundle ###
symfony/.env.local
symfony/.env.local.php
symfony/.env.*.local
symfony/config/secrets/prod/prod.decrypt.private.php
symfony/public/bundles/
symfony/var/
symfony/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
symfony/phpunit.xml
symfony/.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
symfony/.phpunit.result.cache
symfony/phpunit.xml
###< symfony/phpunit-bridge ###

symfony/docker/
symfony/.idea/

symfony/rabbitmq_data/

###> --------------------------------------------> tp3 <-------------------------------------------------------

###> symfony/framework-bundle ###
symfony2/.env.local
symfony2/.env.local.php
symfony2/.env.*.local
symfony2/config/secrets/prod/prod.decrypt.private.php
symfony2/public/bundles/
symfony2/var/
symfony2/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
symfony2/phpunit.xml
symfony2/.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
symfony2/.phpunit.result.cache
symfony2/phpunit.xml
###< symfony/phpunit-bridge ###

symfony2/docker/
symfony2/.idea/

symfony2/rabbitmq_data/
